@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    height: 100vh;
    font-size: 16px;
    overflow: hidden;
}

body{
    display: grid;
    place-content: center;
}


.container{
    /* border: 1px solid darkgrey; */
    min-width: 300px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 6em;
}

span{
    color: black;
    background: #dedede;
    padding: .1em .4em;
    border-radius: 1em;
}
span:before {
    content: '1:30 PM';
    font-size: 5em;
    position: absolute;
    color: #F4F4F4;
    z-index: -1;
    white-space: nowrap;
    left: 15%;
    top: 45%;
}

h1{
    color:black;
    font-size: 1.5rem;
    text-align: right;
}

p{
    line-height: 1.75em;
    padding-left: 2em;
    border-left: 4px solid gray;
}

@media (min-width: 700px){
    /* delete to keep single col design */
   /* .container{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-gap: 1.5em;
   }  */

   h1{
       font-size:3rem;
   }

   span:before {
    content: '1:30 PM';
    font-size: 8em;
    position: absolute;
    color: #F4F4F4;
    z-index: -1;
    white-space: nowrap;
    left: 20%;
    top: 35%;
}
}
/*

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/