html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
body {
  background: #212527;
  color: #9fb2b9;
}

.container {
  display: grid;
  width: 100%;
  margin: 2em auto 0;
}
.card {
  background: #337590;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 2em;
}
p,
h3 {
  margin: 0;
}
h3 {
  margin-left: 1em;
  margin-top: 0.5em;
}
span {
  width: 5em;
  height: 5em;
  background: #75a2b8;
  border-radius: 50%;
}

/* 

   Your fixes below:
   
   My solution included using the following properties:  
   width, background, padding, margin,
   text-transform, font-size, letter-spacing & color
   
*/

.container {
  width: 70%;
  margin: 2em auto;
}

.card {
  grid-column: 2;
  grid-gap: 1.5em;
  padding: 1.5em;
  text-align: left;
}

p.date {
  font-size: 0.75rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(207, 221, 221);
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: azure;
}

p {
  letter-spacing: 0.1em;
  color: rgb(226, 240, 240);
}
